<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <% if user_session %>
      <div class="row col-md-12">
        <div class="col col-md-8">
          <h1>Home</h1>
        </div>
        <div class="col col-md-2">
          <%=  link_to "User", users_profile_path %>
        </div>
        <div class="col col-md-2">
          <%=  link_to "Logout", destroy_user_session_path, data: { confirm: "Are you sure?", turbo_confirm: "Are you sure?" }, method: :delete %>
        </div>
      </div>
    <% else %>
      <%=  link_to "Login", new_user_registration_path  %>
    <% end %>
  </div>
</header>